<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="2nd model_SnapShot_1677166318673"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="10.64.1.178"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="80"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <stringAttribute key="modelBehaviorInit" value="init"/>
    <stringAttribute key="modelBehaviorNext" value="next"/>
    <stringAttribute key="modelBehaviorSpec" value=""/>
    <intAttribute key="modelBehaviorSpecType" value="2"/>
    <stringAttribute key="modelBehaviorVars" value="outputValid, noise1, noise2, noise3, fault1, fault2, fault3, hw_count1, world_val, hw_count2, hw_count3, hw_valid1, hw_valid2, hw_valid3, numActive, isolated1, isolated2, isolated3, mc_count1, mc_count2, mc_count3, signal1, signal2, signal3"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
    <listAttribute key="modelCorrectnessInvariants"/>
    <listAttribute key="modelCorrectnessProperties"/>
    <intAttribute key="modelEditorOpenTabs" value="8"/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="MC_PERSISTENCE;;4;0;0"/>
        <listEntry value="MAX_VAL;;6;0;0"/>
        <listEntry value="HW_PERSISTENCE;;4;0;0"/>
        <listEntry value="MIN_VAL;;-6;0;0"/>
        <listEntry value="MC_VAL_THRESHOLD;;4;0;0"/>
    </listAttribute>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="2"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="three_sensors"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
</launchConfiguration>
